@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
     background-image: url(https://res.cloudinary.com/dhrlnjori/image/upload/v1747029001/Dise%C3%B1o_de_plantilla_de_fondo_oscuro_abstracto_de_lujo___Vector_Premium_k5h3af.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(30px);
     font-family: "Edu QLD Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
   
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 300px;
    backdrop-filter: blur(30px);
}
h1{
    color:whitesmoke;
    height:50px;
    width: 90%;
    margin: 20px;
    margin-left: 40px;
    font-size: 30px;
    font-family: "Playwrite DK Loopet", cursive;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;

}
span{
    color:greenyellow;
    height:50px;
    width: 100%;
    margin: 10px;
    font-size: 50px;
}
.text{
    height: 100px;
    width: 90%;
    padding:10px;
    outline: 0;
    resize: none;
    margin: 15px;
    border: 0;
    border-radius: 15px;
    margin-bottom: 10px;
}
.text::placeholder{
    color: black;
}
.btns,select{
    border: 2px solid greenyellow;
    color: whitesmoke;
    background-color:black;
    border-radius:10px;
    padding: 5px;
    height: 50px;
    font-size: 20px;
    width:40%;
    margin: 5px 5px 10px 5px;
}
.box{
    width: 300px;
    backdrop-filter: blur(30px);
    border-radius: 20px;
}
.btns:active{
    color: black;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    background-position: right;
    transition: background-color -2s ease-in-out;
}
